DB_USERNAME=root
DB_PASSWORD=Jayjay123@

JWT_SECRET=change_me

PAYMENT_SECRET_KEY=change_me
PAYMENT_PUBLIC_KEY=change_me


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=